/*
 * Feuille de style minimale pour afficheur LCD
 */
/*
::-webkit-calendar-picker-indicator {
  display: none;
}
*/
html
{
	height: 100%;
}

body
{
	background: #1d3e53;
	font: normal 0.9em rubik, sans-serif;
	color: #77abb7;
	height: 100%;
	margin: 0;
	padding: 0;
        text-align: center;
}

a:link
{
	color: #77abb7;
	text-decoration: none;
}

a:visited
{
	color: #77abb7;
	text-decoration: none;
}

a:hover
{
	color: #ffffff;
	text-decoration: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font: bold 1.5em rubik, sans-serif;
}

h2 {
    text-align: center;
    font: normal 0.75em rubik, sans-serif;
}

th {
  background-color: #254b62;
  color: #77abb7;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
}

.th2 {
  background-color: #254b62;
  color: #77abb7;
/*  height: 50px;*/
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 0.5em 0 0.5em 0;
}

td {
color: #327786;
text-align: center;
height: 25px;
background: white;
padding: 1em 5px 1em 5px;
}

.td2 {
color: #327786;
text-align: left;
background: white;
padding: 0.5em 5px 0.5em 5px;
}

.td-centre {
display: flex;
justify-content: center;
}

.td-gauche {
text-align: left;
}

.td-gauche img {
vertical-align:top;
height:18px;
}

#vent {
text-align:left;
display: table;
width: 100%;
}

#vent span.ventc {
vertical-align:middle;
display: table-cell;
width: 100%;
}

.graph {
text-align: left;
vertical-align: top;
background: white;
}

#data {
  font: normal 0.75em rubik, sans-serif;
}

#center {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

#circulateurs {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  vertical-align: top;
}

#top {
  border-top: 1px solid #e5e5e5;
}

#item-center {
  font-weight: bold;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

#unite {
    font-size: 0.8em;
}


table {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-shadow: 1px 1px 8px #112633;   
}

.table2 {
  border-radius: 6px;
  margin: 8px 6px 8px 6px;
  box-shadow: 1px 1px 8px #112633;
  overflow: hidden;
}

table * {
  position: relative;
}

table thead tr {
  height: 60px;
}

.td-petit {
  height: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}


table tbody tr {
  height: 48px;
}

table tbody tr:last-child {
  border: 0;
}

@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}
	
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}
	
	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 95%;
	}
	


}
La touche finale : réduire de façon harmonieuse toutes les tailles de polices en orientation paysage (car bugguée sur les périphériques iPhone et iPad).

@media (max-device-width:768px) and (orientation: landscape) {
  html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
  }
}

.svg-icon {
    stroke: #77abb7;
    width: 2em;
    height: 2em;
    padding: .2em .2em .2em .2em;
}

.svg-icon:hover {
    stroke: #ffffff;
}

.button-css {
	font-size: 13px;
	font-family: sans-serif;
	font-weight: 700;
	color: #327786;
    text-align: center;
	line-height: 1.3;
	padding: .6em .8em .5em .8em;
	width: 4em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: repeat;
}
.button-css::-ms-expand {
	display: none;
}
.button-css:hover {
	border-color: #888;
}
.button-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
/*	color: #222;*/
	outline: none;
}
.button-css option {
	font-weight:normal;
}

    
.select-css {
	font-size: 13px;
	font-family: sans-serif;
	font-weight: 700;
	color: #327786;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 9em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
/*	color: #222;*/
	outline: none;
}
.select-css option {
	font-weight:normal;
}

.input-css {
	font-size: 13px;
	font-family: sans-serif;
	font-weight: 700;
	color: #327786;
	line-height: 1.3;
	padding: .6em .8em .5em .8em;
	width: 4.5em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.wi {
	font-size: 4em;
}

.wi-wind {
	font-size: 1.5em;
}

.graphique {
	max-width:100%
}

.graphique td {
	background: #1d3e53;
}

.highchart-container {
	width:100%;
	height: 550px;
}

.puces-dates {
	display: grid;
	grid-template-columns: 1fr 9fr;
	column-gap: 2%;
}

/* Adaptation de la hauteur du graphique en fonction de l'écran */
@media only screen and (max-width:700px) {
	.highchart-container {
		height: 400px;
	}
}

/* Responsive design pour les paramètres Solisgraph */
@media screen and (min-width: 900px) {
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 2%;
	}
	.fleche {
		display:none;	
	}
}

@media screen and (min-width: 1380px) {
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		column-gap: 2%;
	}
}

.grille-controles {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.grille-affichage {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 990px) {
	.grille-affichage {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 0.6fr;
		grid-auto-flow: column;
	}
}

